 <div>
    <div  class="user-details" style="border-bottom: 1px solid #EEEEEE">
        <h1> My Expertise</h1>
        <p> Eventhough I have finished school, I love to learn.
        I keep learning new things everyday, and 
           that is what made me passionate about computer sciences.
          I really enjoy working on challenging IT project and trying to 
          figure out what might be the best solution to a given problem.
          I do not affiliate my self to a specific programming language, 
          in my opinion the language is just a tool and we have a huge tool-box 
          at our disposal to solve different kind of problems
          <p>However I do love using cutting-edge technologies.</p>
      </div>
      <p style="font-size:10px; text-align: right;">
        ...Feel free to checkout my linkedin, this website is still under construction
      </p>
      
        <div class="user">
          <div class="tech">
            <h2>Algorithms</h2>
            <i class="devicon-html5-plain"></i>
            <i class="devicon-mysql-plain colored"></i>
            <i class="devicon-mongodb-plain colored"></i>
            <p>CodeFights, CodinGame...</p>
          </div>
          <div class="tech">
            <h2>Code</h2>
            <i class="devicon-javascript-plain colored"></i>
            <i class="devicon-react-original-wordmark colored"></i>
            <i class="devicon-nodejs-plain-wordmark"></i>
            <p>JavaScript, NodeJS</p><p>ReactJS, ReactNative, C++, C</p>
          </div>
          <div class="tech">
            <h2>Tools</h2>
            <i class="devicon-git-plain"></i>
            <i class="devicon-webstorm-plain colored"></i>
            <i class="devicon-atom-original-wordmark"></i>
            <p>Git, Jenkins, Scrum</p> <p>Kanban, Github, GitLab</p>
          </div>
          
      </div>
      
 </div>
 
