<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="hearthstone" src="{{ "/assets/img/hearthstone.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> League of Code and Magics - CodinGame </h3>
    <ul>
      <li> Heuristic Algorithms, JavaScript</li>      
    </ul>
    <p>This codinGame is about coding a Bot artificial intelligence which will play an advanced card game (like the famous Hearthstone) against others developers'IA</p>
    <p>I have reached rank 200/2300, I plan to do a second version of it using a Monte Carlo Tree Search</p>
    <a class="project-link"  target="_blank" href="https://github.com/llccrr/AlgoExercices/tree/master/BotProgramming/HS.ia">Checkout</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="robotics" src="{{ "/assets/img/cdf-robotics.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>National Robotics Tournament</h3>
    <ul>
      <li>Robotics, Mechanics, C</li>
    </ul>
    <p>The project was to build two robots in order to participate to a tournament. Both robots had to respect some given specs and had to perform some actions on a defined playground</p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="tictactoe" src="{{ "/assets/img/tic_tac_toe.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Tic Tac Toe - CodinGame </h3>
    <ul>
      <li> IA, Minmax, Monte Carlo Tree Search</li>
      <li> JavaScript, C++</li>
    </ul>
    <p>This codinGame is about coding a Bot artificial intelligence which will play an advanced Tic Tac Toe against others developers'IA</p>
    <p>I have done two versions of it, one in JavaScript and an other one in C++</p>
    <a class="project-link" href="#">Not upload yet</a>
  </div>
</div>
